<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Restaurants catalogue">
    <meta name="theme-color" content="#db0000"/>
    <link rel="icon" href="./images/logo/circle-logo.png">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/images/logo/circle-logo.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
    <title>Waroeng Sakiki</title>
</head>
<body>
    <a href="#main-content" class="link-skip" tabindex="0">Skip to content</a>
    <header>
        <div>
            <section id="left-bar">
                <button class="drawer-btn" id="hamburgerButton">☰</button>
                <h3 id="app-name">Waroeng Sakiki</h3>
            </section>
            <nav id="navigationDrawer">
                <ul>
                    <li><a href="#/home">Home</a></li>
                    <li><a href="#/like">Favorite</a></li>
                    <li><a href="https://gitlab.com/bahaque">About Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main id="contentExplore" tabindex="0">
        
    </main>
    <footer>
        <info-app></info-app>
    </footer>
</body>
</html>
